# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Database
db.sqlite3

# Static files
/static/

# Media files
/media/

# Virtual environment
venv/

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Logs
*.log

# Dependency directories
env/
lib/
bin/

*.rest

image*